@import "../../../../assets/styles/global.scss";

.home-about {
  padding: 206px 0 165px;

  .container {
    display: flex;
  }

  &-gallery {
    position: relative;

    &>img {
      position: absolute;
    }

    &>img:first-child {
      top: -56px;
      left: 20px;
    }

    &>img:nth-child(2) {
      left: 250px;
      top: 272px;
    }

    &>img:last-child {
      bottom: -35px;
      left: 44px;
    }
  }

  &-desc {
    margin-left: auto;
    width: 100%;
    max-width: 698px;
    display: grid;
    gap: 50px;

    &-title {
      @include fontStyles('Montserrat', 50px, 700, 61px, $darkColor);
    }

    &-link {
      margin-left: auto;
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 14px;
      @include fontStyles('Montserrat', 20px, 500, 24px, $btnColor);

      &>svg {
        width: 10px;
        height: 10px;
      }
    }

    &-item:nth-child(3) {
      padding-left: 237px;
    }

    &-item>p {
      @include fontStyles('Raleway', 18px, 400, 120%, $darkColor);
      text-align: justify;
      text-indent: 30px;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }
}