@import "../../assets/styles/global.scss";

.header {
  padding-top: 20px;

  .container {
    position: relative;
    z-index: 100;
    @extend %display-center;
  }

  &-logo {
    &>img {
      width: 328px;
      height: 80px;
      object-fit: cover;
    }
  }

  &-links {
    &-wrapper {
      display: flex;
      gap: 162px;
    }

    &-lang-select {
      background-color: transparent;
      border: none;
      outline: none;
      @include fontStyles('Montserrat', 16px, 600, 20px, $darkColor);
      cursor: pointer;

      &>option {
        @include fontStyles('Montserrat', 16px, 600, 20px, $darkColor);
      }
    }

    &-nav {
      margin-right: 61px;
      display: flex;
      gap: 64px;

      &-item {
        @include fontStyles("Montserrat", 16px, 600, 20px, rgba(255, 255, 255, 0.6));
      }
    }
  }
}